<h2>New Figure: </h2>

<form method="POST" action="/figures/new">
  <label>Figure Name:</label>
<br></br>
  <input type="text" name="figure[name]" id="figure_name">
<br>
  <label>Titles:</label>
<br>
  <%Title.all.each do |title| %>
<br>
  <label><%=title.name%></label>
<br>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
  <input type="hidden" name="title[name]" value="<%=title.name%>" id="<%=title.name%>">
  <%end%>
<br></br>
  <label>New Title: </label>
  <input type="text" name="title[name]" id="new_title">
<br></br>
  <label>Landmarks:</label>
<br>
  <%Landmark.all.each do |landmark| %>
<br>
  <label><%=landmark.name%></label>
<br>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>">
  <input type="hidden" name="landmark[name]" value="<%=landmark.name%>" id="<%=landmark.name%>">
  <%end%>
  <label>New Landmark: </label>
  <input type="text" name="landmark[name]" id="new_landmark">
<br></br>
    <input type="submit" value="Create New Figure">
</form>


